*{margin:0;padding:0;}
#main{
	position:relative;
}
.box{
	padding:15px 0 0 15px;
	float:left;
}
.pic{
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:0 0 5px #ccc;
	-webkit-box-shadow:0 0 5px #ccc;
	-moz-box-shadow:0 0 5px #ccc;
	width:200px;
}
.pic img{
	width:200px;
	height:atuo;
}